{
  "semi": false,
  "singleQuote": true,
  "objectWrap": "collapse",
  "proseWrap": "preserve",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^[A-Z](.*)$",
    "^@store/(.*)$",
    "^@ui/(.*)$",
    "^@lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
